# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/test.json
/test.sql
/user.py
/.idea
respberry_pi/.idea
server/.idea
client/.idea
__pycache__
database.db
